.ticket-container {
    width: 100%;
    padding: 10px;
    background: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 40px;
}
.content h2{

    font-weight: bold;
    padding-top: 10px;


}

.ticket-container form {

    margin-top: 20px;
}

.ticket-container button {

    margin-left: 30px;
   
    

    
    
}

